#container {
background-image:url('C:/Users/alexe/Downloads/1579539544_1-2.jpg');
margin: auto; 
text-align: center; 
width: 75%;
height: 1200px; 
border: solid;
}
#header {
background:width: 100%;
height: 9%;
font-family: Algerian, algerian;
}
#mainmenu {
background:url('C:/Users/alexe/Downloads/2lines_asphalt_marking_141847_200x300.jpg');
color:#ffffff; 
position: relative; 
overflow: hidden; 
height: 90px; 
margin: auto;
}
#mainmenu ul li {
list-style-type: none; 
position: relative; 
left: 26%;
float: left;
margin: -1px; 
height: 20px;
}
#mainmenu ul li a { 
color: #fff; 
display: block;
text-decoration: none; 
padding: 0 25px;
line-height: 30px;
}
#mainmenu ul li a:hover { 
background-color: #666;
}
#content {
width: 100%; 
height: 280px;
font-family: Arial, sans-serif; 
font-size: 14px;
}